* {
    margin: 0;
    padding: 0;
}
  
body, html {
    height: 100%;
    background-color: hsl(275, 100%, 97%);
}
  
.main-wrapper {
    width: 100%;
    height: 100%;

}
  
.background-image {
    width: 100%;
    height: auto;
}